body {
background-color:#429ef5;
font-family:Georgia;
}

h1 {
color:black;
background-color:#D3D3D3;
font-family:Georgia;
text-align:center;
width:650px;
border:15px;
padding:10px;
margin:20px;
border: 2px black;
border-style:solid;
}


#image1 {
position:absolute;
top:250px;
right:1255px;
width:280px;
height:280x;
background-color:#D3D3D3
}

p2 {
font-family:Arial;
}


nav {
background-color:#D3D3D3;
width:650px;
height:80px;
padding:10px;
margin:20px;
border: 2px black;
border-style:solid;
text-align:center;


}

#space { 
padding: 50px;
}

h2 {
	font-family:Georgia;
}

p3 {
color:blue;
}

div {
width:300px;
border:2px black;
padding:10px;
margin:20px;
background-color:#D3D3D3;
border-style:solid;
float:left;
}

h3 {
font-size:25px;
font-family:Georgia;
}
p {background-color:#D3D3D3;
font-family:Arial;

}

div2 {
width:300px;
border:2px black;
padding:10px;
margin:20px;
background-color:#D3D3D3;
border-style:solid;
float:left;
}

footer {
	padding:30px;
	margin-top:650px;
	position:absolute;
	left:0px;
	font-family:Arial;
	font-size:8px;
}

dl{
	
	font-family:Arial;
}

dd {
	
	font-style:italic;
}

#image2 {
	padding:10px;
	margin:20px;
	width:500px;
	height:300px;
	margin-top:350px;
	position:absolute;
	left:0px;
	
	

}